PORT=3000
STORE_NAME="GALLERY | Store"
WHATSAPP_NUMBER="51988182681"
CURRENCY_SYMBOL="S/"
CURRENCY_CODE="SOL"

# Base de datos PostgreSQL (Neon Cloud o Postgres local)
DATABASE_URL="postgresql://usuario:password@host/neondb?sslmode=require"

# Clave de acceso para el panel de administración (/admin)
ADMIN_PASSWORD="admin@123"

# Cloudinary - Almacenamiento Permanente de Imágenes en la Nube
CLOUDINARY_CLOUD_NAME="tu_cloud_name"
CLOUDINARY_API_KEY="tu_api_key"
CLOUDINARY_API_SECRET="tu_api_secret"
CLOUDINARY_URL="cloudinary://tu_api_key:tu_api_secret@tu_cloud_name"
